/* ====================== CSS Variables ====================== */
  :root {
    /* ==== Layout ==== */
    /* Header */
    --header-padding-y: 1em;
    --header-button-height: 50px;
    --header-breakpoint: 400px;
    --header-title-mobile-font-size: calc(1em*1.75);
    --header-title-mobile-line-height: 1.25;

    /* Side Bar */
    --side-bar-max-width: 300px;
    --side-bar-padding-x: 1em;

    /* Map */
    --marker-size: 50px;
    --map-inner-padding: calc(2*(40px + 25px));

    /* ==== Color Palette ==== */
    --primary-color: #ef9a9a;
    --primary-light-color: #ffcccb;
    --primary-dark-color: #ba6b6c;
    --secondary-color: #dedede;
    --secondary-light-color: #fff;
    --secondary-dark-color: #000;
    --primary-color-overlay: rgba(239, 154, 154, 0.8);
    --primary-light-color-overlay: rgba(255, 204, 203, 0.8);
    --primary-dark-color-overlay: rgba(186, 107, 108, 0.8);
    --secondary-color-overlay: rgba(222, 222, 222, 0.8);
    --secondary-light-color-overlay: rgba(255, 255, 255, 0.8);
    --secondary-dark-color-overlay: rgba(0, 0, 0, 0.8);
    /*--primary-color: #cc8f80;
    --primary-light-color: #ffc0af;
    --primary-dark-color: #996154;
    --primary-color-overlay: rgba(204, 143, 128, 0.8);
    --primary-light-color-overlay: rgba(255, 192, 175, 0.8);
    --primary-dark-color-overlay: rgba(153, 97, 84, 0.8);*/
  }

/* ====================== General ====================== */
  /* Make everything a border-box*/
  * {
    box-sizing: border-box;
  }

  html,
  body,
  .root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /*overflow: overlay;*/

    display: flex;
    flex-flow: column wrap;
  }

  body {
    line-height: 1.5;
  }

  body,
  .app {
    background: white;
  }

  a {
    color: var(--primary-color);
    transition: all 0.25s ease-in-out;
    transition-property: outline, box-shadow;
  }

  @media (max-width: 767px) {
    a {
      padding: 2px;
    }
  }

  a:visited {
    color: var(--primary-dark-color);
  }

  a:hover,
  a:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--primary-dark-color-overlay);
    transition: all 0.25s ease-in-out;
    transition-property: outline, box-shadow;
  }

/* ====================== Typography ====================== */
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size-adjust: 0.5;
  }

  body,
  td,
  th,
  p,
  ul,
  li,
  button,
  input,
  select,
  option {
    font: 1rem/1.25 'Montserrat', sans-serif;
    color: var(--secondary-dark-color);
  }

  body {
    background-color: #fdfdfd;
    margin: 0;
    position: relative;
  }

  h1 {
    font-size: 2rem;
    line-height: 1.25;
  }

  h2 {
    font-size: 1.625rem;
    line-height: 1.15384615;
  }

  h3 {
    font-size: 1.375rem;
    line-height: 1.13636364;
  }

  h4,
  h5 {
    font-size: 1.125rem;
    line-height: 1.11111111;
  }

  @media (min-width: 768px) {
    body {
      font-size: 1rem;
      line-height: 1.375;
    }

    h1 {
      font-size: 2.5rem;
      line-height: 1.125;
    }

    h2 {
      font-size: 2rem;
      line-height: 1.25;
    }

    h3 {
      font-size: 1.5rem;
      line-height: 1.25;
    }

    h4,
    h5 {
      line-height: 1.22222222;
    }
  }

  @media (min-width: 992px) {
    h1 {
      font-size: 3rem;
      line-height: 1.05;
    }

    h2 {
      font-size: 2.25rem;
      line-height: 1.25;
    }

    h3 {
      font-size: 1.75rem;
      line-height: 1.25;
    }
  }

/* ====================== Basic Resets ====================== */
  .unstyled-button {
    background: none;
    outline: none;
    color: var(--secondary-dark-color);
    border: none;
    cursor: pointer;
  }

/* ====================== Skip Link ====================== */
  .skip-link {
    position: absolute;
    top: -100px;
    left: 0;
    background: var(--secondary-light-color);
    color: var(--primary-color);
    padding: 8px;
    z-index: 100;
  }

  .skip-link:focus {
    top: 0;
    box-shadow: 0px 0px 0px 2px rgba(92, 107, 192, 1);
    transition: all 0.25s ease-in-out;
  }

/* ====================== Header ====================== */
  .header {
    background: var(--primary-dark-color);
    color: var(--secondary-light-color);
    padding: var(--header-padding-y);
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.5);;
    z-index: 10000;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .site-heading {
    display: inline-block;
    margin: auto;
    content: "AD ";
  }

  .site-heading:before {
    content: "AD ";
  }

  @media (max-width: 400px /*var(--header-breakpoint)*/ ) {
    .site-heading {
      order: 2;
      width: 100%;
      text-align: center;
    }
  }

  @media (max-width: 550px) {
    .site-heading {
      font-size: var(--header-title-mobile-font-size);
      line-height: var(--header-title-mobile-line-height);
    }
  }

  @media (min-width: 600px) {
    .site-heading:before {
      content: "Abu Dhabi ";
    }
  }

  .header-button {
    display: inline-block;
    width: var(--header-button-height);
    height: var(--header-button-height);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    font-size: 0;
    transition: all 0.25s ease-in-out;
  }

  .header-search-button {
    background-image: url('./icons/filter.svg');
  }

  .header-about-button {
    background: url('./icons/info.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
  }

  .header-button:hover,
  .header-button:focus {
    outline: none;
    background: var(--secondary-light-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(38, 65, 143, 0.16), 0 3px 6px rgba(38, 65, 143, 0.23);
    transition: all 0.25s ease-in-out;
  }

  .header-search-button:hover,
  .header-search-button:focus {
    background-image: url('./icons/filter-inverted.svg');
  }

  .header-about-button:hover,
  .header-about-button:focus {
    background-image: url('./icons/info-inverted.svg');
  }

/* ====================== Main ====================== */
  main {
    flex: 2;

    background: green;

    display: flex;
    flex-flow: row wrap;
    align-items: stretch;

    height: calc(100vh - 2*var(--header-padding-y) - var(--header-button-height));
  }

  @media (max-width: 400px /*var(--header-breakpoint)*/ ) {
    main {
      height: calc(100vh - 2*var(--header-padding-y) - var(--header-button-height) - var(--header-title-mobile-font-size)*var(--header-title-mobile-line-height));
    }
  }

/* ====================== Form Controls ====================== */
  select,
  input[type="text"],
  .search-results-entry {
    padding: 5px;
    font-size: 1em;
    border: 1px solid var(--secondary-dark-color);
    border-bottom: 3px solid var(--secondary-dark-color);
    margin-bottom: 0.5em;
    width: 100%;
    transition: all 0.25s ease-in-out;
  }

  select:hover,
  select:focus,
  input[type="text"]:hover,
  input[type="text"]:focus {
    outline: none;
    text-decoration: underline;
    border: 1px solid var(--primary-dark-color);
    border-bottom: 3px solid var(--primary-dark-color);
    box-shadow: inset 0px -3px 0px 0px var(--primary-dark-color-overlay),
      inset 0px 0px 0px 2px var(--primary-dark-color-overlay);
    transition: all 0.25s ease-in-out;
  }

  @media (max-width: 768px) {
    select,
    input[type="text"] {
      min-height: 48px;
      min-width: 48px;
    }
  }

/* ====================== Side Bar ====================== */
  .side-bar-container {
    background: var(--secondary-light-color);
    padding: var(--side-bar-padding-x);
    flex: 0 0 var(--side-bar-max-width);
    order: 2;
    overflow: auto;
  }

  @media screen and (max-width: 600px) {
    .side-bar-container {
      flex: 0 0 100%;
    }
  }

  .side-bar-heading {
    margin: 0.75em 0 0.5em;
  }

  .side-bar-heading-centered {
    text-align: center;
  }

  .padding-inline-start {
    padding-inline-start:40px;
  }

  .form-button {
    width: 48%;
  }

/* ====================== Side Bar - Results ====================== */
  .search-results {
    list-style-type: none;
  }

  .search-results li {
    padding: 2px 0;
  }

  .search-results-entry {
    text-align: center;
    background: var(--secondary-light-color);
    color: var(--secondary-dark-color);
    border: 1px solid var(--secondary-dark-color);
    border-bottom: 3px solid var(--secondary-dark-color);
    padding: 0.5rem;
  }

  .search-results h4 {
    margin: 0;
  }

  .search-results p {
    margin: 0;
    font-style: italic;
  }

  .search-results-entry-selected {
    background: var(--primary-light-color);
    transition: all 0.25s ease-in-out;
  }

  .search-results-entry:hover,
  .search-results-entry:focus {
    outline: none;
    border: 1px solid var(--primary-dark-color);
    border-bottom: 3px solid var(--primary-dark-color);
    box-shadow: inset 0px -3px 0px 0px var(--primary-dark-color-overlay),
      inset 0px 0px 0px 2px var(--primary-dark-color-overlay);
    transition: all 0.25s ease-in-out;
  }

  .search-results-entry:hover h4,
  .search-results-entry:focus h4 {
    text-decoration: underline;
  }

/* ====================== Map ====================== */
  .map-container {
    order: 3;
    height: 100%;
    background: var(--secondary-light-color);
    position: relative;
    flex: 2 1 auto;
  }

  .map {
    background: var(--secondary-dark-color);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  /* ==== Loading GIF ==== */
  .loading-mode {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loading-gif {
    margin: 0 auto;
    max-width: 200px;
    height: auto;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: underline;
  }

  /* Show alt text nicely in case image is broken */
  .loading-gif[alt]:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-light-color);
    content: attr(alt);
    font-size: 1.25em;
  }

  /* ==== Marker Button ==== */
  .marker-button {
    height: var(--marker-size);
    width: var(--marker-size);
    color: var(--primary-color);
    position: absolute;
    pointer-events: none;
    transition: color 0.25s ease-in-out;
  }

  .marker-button-focused,
  .marker-button:hover,
  .marker-button:focus {
    outline: none;
    /*box-shadow: inset 0px 0px 0px 3px var(--primary-dark-color-overlay);*/
    color: var(--primary-dark-color);
    transition: color 0.25s ease-in-out;
  }

  .marker-image {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .marker-button svg {
    pointer-events: none;
  }

  .marker-button svg path {
    fill: currentColor;
    pointer-events: all;
    stroke: var(--secondary-dark-color);
    stroke-width: 0.5;
  }

  /* ==== Info Window ==== */
  /* Part of the following styling method for drawing the info window
   * is taken from the Google Maps API examples section:
   * https://developers.google.com/maps/documentation/javascript/examples/overlay-popup
   */

  /* In this case, even if the side bar and map are both open simultaneously (larger
   * devices) there's enough space to reach the maximum info window size. On smaller
   * devices, the map and side bar can't be opened simultaneously. So we don't need
   * to take into consideration the 300px wide side bar. We should try to avoid
   * overlapping the the map buttons.
   * Note: --map-inner-padding = 2*(40px + 25px) where 40px = width of one map's zoom
   * in/out and fullscreen buttons. Another 25px is added for spacing between the info
   * window and the (buttons + map padding) (15px spacing and button, 10px spacing
   * between button and map edge).
   */
  .info-window-container {
    height: 0;
    position: absolute;
    width: calc(100vw - var(--map-inner-padding));
    max-width: 630px;
    min-width: 300px;
  }

  /* In this case, the side bar might be open at the same time as the map.
   * So we need to take into consideration the 300px wide side bar too.
   * We should try to avoid overlapping the the map buttons.
   * Note: --map-inner-padding = 2*(40px + 25px) where 40px = width of one map's zoom
   * in/out and fullscreen buttons. Another 25px is added for spacing between the info
   * window and the (buttons + map padding) (15px spacing and button, 10px spacing
   * between button and map edge).
   */
  @media screen and (max-width: 1000px) and (min-width: 601px) {
    .info-window-container {
      width: calc(100vw - 300px - var(--map-inner-padding));
    }
  }

  /* The following two rule sets style the anchor arrow tip below the info
   * window.
   */
  .info-window-container-anchor-tip {
    position: absolute;
    width: 100%;
    bottom: 24px; /* <== This represents the height of the anchor arrow tip. */
    left: 0;
  }

  /* This actually draws the anchor arrow tip.
   * The following trick to draw the anchor arrow tip is taken from:
   * https://css-tricks.com/snippets/css/css-triangle/
   */
  .info-window-container-anchor-tip::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    /* Center the anchor arrow tip horizontally against the info window container. */
    transform: translate(-50%, 0);
    width: 0;
    height: 0;
    border-left: 10px solid transparent; /* <== This represents the tipWidth/2. */
    border-right: 10px solid transparent; /* <== This represents the tipWidth/2. */
    border-top: 24px solid white; /* <== This represents the height of the tip. */
  }

  /* This is the visible part of the info window that contains the actual info. */
  .info-window-contents {
    position: absolute;
    top: 0;
    left: 0;
    /* Reposition the visible part of the info window to be above the anchor
     * arrow tip.
     */
    transform: translate(-50%, -100%);
    background-color: white;
    border-radius: 5px;
    font-family: sans-serif;
    box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
    font: 1rem/1.25 'Montserrat', sans-serif;
    color: var(--secondary-dark-color);
  }

  .info-window-contents-header {
    text-align: center;
    border-radius: 3px 3px 0 0;
    padding: 1em;
    background: var(--primary-dark-color);
    color: var(--secondary-light-color);
    position: relative;
  }

  .info-window-contents-header-heading {
    margin: 0 32px 0;
  }

  .button-close-info-window {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
    color: var(--secondary-light-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2.5em;
    min-width: 54px;
    min-height: 54px;
    transition: all 0.25s ease-in-out;
    transition-property: outline, color, background-color;
  }

  .button-close-info-window:hover,
  .button-close-info-window:focus {
    outline: none;
    color: var(--primary-dark-color);
    background-color: var(--secondary-light-color);
    transition: all 0.25s ease-in-out;
    transition-property: outline, color, background-color;
  }

  .info-window-contents-body {
    max-height: 250px;
    overflow-y: auto;
    padding: 0 1em;
    border-radius: 0 0 3px 3px;
    background: var(--secondary-light-color);
    color: var(--secondary-dark-color);
    text-align: left;
    border-top: 1em solid var(--secondary-light-color);
    border-bottom: 1em solid var(--secondary-light-color);
  }

  /* In this case, make the height of the info window small enough to
   * vertically fit in between the map buttons.
   */
  @media screen and (max-height: 650px) {
    .info-window-contents-body {
      max-height: 150px;
    }
  }

  .api-error-message {
    color: var(--primary-dark-color);
    font-style: italic;
    font-weight: 600;
  }

  .address-heading {
    margin: 0.5em 0 0.25em;
  }

  .address-line {
    margin: 0;
  }

  .info-window-image {
    max-width: 100% !important;
    height: auto !important;
    display: block;
    margin: 0.5em auto 0;
  }

  /* ==== Hide undesired map controls when offline ==== */
  [title*="Drag Pegman"],
  [title*="Show street map"],
  [title*="Show satellite imagery"],
  [title*="Show imagery"] {
    display: none !important;
  }

/* ====================== Modal Content ====================== */
  /* Note: Modal CSS and JS inspired by
    - https://tympanus.net/Development/ModalWindowEffects/
    - https://alligator.io/react/modal-component/
    - https://assortment.io/posts/accessible-modal-component-react-portals-part-1
    - https://github.com/udacity/ud891/tree/gh-pages/lesson5-semantics-aria/21-dialog
  */
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    max-width: 630px;
    height: auto;
    z-index: 2000;
    backface-visibility: hidden;
    visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
  }

  .modal-show {
    visibility: visible;
  }

  /* Modal Overlay */
  .modal-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition: all 0.3s;
    background: var(--primary-dark-color-overlay);
  }

  .modal-show ~ .modal-overlay {
    opacity: 1;
    visibility: visible;
  }

  /* Modal Opening/Closing Effect: Fade and Scale */
  @keyframes modalFadeIn {
    from {transform: scale(0.7);opacity: 0;}
    to {transform: scale(1);opacity: 1;}
  }

  @keyframes modalFadeOut {
    from {transform: scale(1);opacity: 1;}
    to {transform: scale(0.7);opacity: 0;}
  }

  .modal-effect .modal-content {
    animation-name: modalFadeOut;
    animation-duration: .3s;
  }

  .modal-show.modal-effect .modal-content {
    animation-name: modalFadeIn;
    animation-duration: .3s;
  }

  /* Lock the scroll position on everything behind the modal (<html> element) */
  .disable-scrolling {
    overflow: hidden !important;
  }

  /* Modal Content */
  .modal-content {
    position: relative;
    border-radius: 3px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }

  /* Modal Header */
  .modal-header {
    text-align: center;
    border-radius: 3px 3px 0 0;
    padding: 1em;
    background: var(--primary-dark-color);
    color: var(--secondary-light-color);
    position: relative;
  }

  .button-close-modal {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font: inherit;
    color: var(--secondary-light-color);
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2.5em;
    min-width: 48px;
    min-height: 48px;
    transition: all 0.25s ease-in-out;
  }

  .button-close-modal:hover,
  .button-close-modal:focus {
    outline: none;
    color: var(--primary-dark-color);
    background-color: var(--secondary-light-color);
    transition: all 0.25s ease-in-out;
  }

  .modal-heading {
    margin: 0.3333em 32px 0.3333em 0;
  }

  /* Modal Body */
  .modal-body {
    max-height: 60vh;
    overflow-y: auto;
    padding: 0 2em 1em;
    text-align: center;
    background: var(--secondary-light-color);
    color: var(--secondary-dark-color);
    text-align: left;
  }

  .modal-body h3 {
    font-weight: 600;
    margin-bottom: 0;
  }

/* ====================== Image Links ====================== */
  .link-with-image {
    transition: all 0.25s ease-in-out;
    cursor: pointer;
    padding: 0;
    border: none;
    overflow: hidden;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
    text-decoration: underline;
  }

  .link-with-image img {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    text-align: center;
    text-decoration: underline;
  }

  .link-with-image img:after {
    display: block;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: attr(alt);
    background-color: var(--secondary-light-color);
  }

  .link-with-image-preview {
    min-width: 136px;
  }

  .link-with-image-buy {
    min-width: 165px;
  }

  .link-with-image:hover,
  .link-with-image:focus {
    outline: none;
    transform: scale(1.02);
  }

  @media (max-width: 600px) {
    .link-with-image {
      margin-bottom: 1em;
    }
  }

/* ====================== Service Worker Notifications ====================== */
  .service-worker-notification {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100000000;
    background: var(--primary-color);
    text-align: center;
    padding: 0.75em;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: baseline;
  }

  .service-worker-notification p {
    font-weight: 600;
    color: var(--secondary-dark-color);
    margin-left: 32px;
    margin-right: 32px;
  }

  .service-worker-notification button {
    background: var(--secondary-light-color);
    color: var(--secondary-dark-color);
    border: 1px solid var(--secondary-dark-color);
    border-bottom: 3px solid var(--secondary-dark-color);
    font-weight: 600;
    padding: 8px;
  }

  .service-worker-notification button:hover,
  .service-worker-notification button:focus {
    outline: none;
    text-decoration: underline;
    border: 1px solid var(--secondary-dark-color);
    border-bottom: 3px solid var(--secondary-dark-color);
    box-shadow: inset 0px 0px 0px 2px var(--secondary-dark-color-overlay);
    transition: all 0.25s ease-in-out;
  }

  .update-button {
    margin-right: 32px;
  }

  @media (max-width: 767px) {
    .service-worker-notification button {
      min-height: 48px;
      min-width: 48px;
    }
  }

  .hide {
    display: none;
  }